/* Setting Color Palette*/

$mainColor1: #8CC640;
$mainColor2: #F48A1F;
$mainColor3: #1B2846;
$darkGray: #444444;
$ligthGray: #CCCCCC;

/* Setting Background Image*/
@mixin bgimg {
	background-size: cover;
	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
}

/* BoxShadow Prefix*/

@mixin boxShadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* BODY*/
/* ----------------------------------------------- */
@mixin body {
	font-family: "Open-Sans", sans-serif;
    	-webkit-font-smoothing: antialiased;
    	font-size: 16px;
    	color: $darkGray;
    	background-color: #FFFFFF;
}

/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
	width: 90%;
	padding-top: 17px;
}

.navbar {
	@include boxShadow;
}

/*Masthead - Main Splash Image Section*/
/* ----------------------------------------------- */

.row {
	margin-top: 80px;
}

.masthead {
	height: 600px;
	padding-top: 3em;
	background: url(../img/masthead/landing-bg.jpg) center top no-repeat;
	@include bgimg;
}

.masthead-text {
	margin-top: 8.5em;
	color: $mainColor3;
}

.masthead-text p {
	font-size: 16px;
	text-shadow: none;
}
