/* Setting Color Palette*/

$mainColor1: #8CC640;
$mainColor2: #F48A1F;
$mainColor3: #1B2846;
$darkGray: #444444;
$ligthGray: #CCCCCC;

/* Font*/
@mixin mainFont {
	font-family: "Open-Sans", sans-serif;
    	-webkit-font-smoothing: antialiased;
}

/* Setting Background Image*/
@mixin bgimg {
	background-size: cover;
	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
}

/* BoxShadow Prefix*/

@mixin boxShadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Sign Up Button*/

@mixin signupButton {
	padding: 0.6em 2em;
	font-size: 20px;
	line-height: 1.5;
	background-color: $mainColor1;
	border: 1px solid $mainColor1;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
}



/* BODY*/
/* ----------------------------------------------- */
@mixin body {
	font-family: "Open-Sans", sans-serif;
    	-webkit-font-smoothing: antialiased;
    	font-size: 16px;
    	color: $darkGray;
    	background-color: #FFFFFF;
}

/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
	width: 90%;
	padding-top: 17px;
}

.navbar {
	@include boxShadow;
}

/*Masthead - Main Splash Image Section*/
/* ----------------------------------------------- */

.row {
	margin-top: 80px;
}

.masthead {
	height: 600px;
	padding-top: 3em;
	box-shadow: none;
	background: url(../img/masthead/landing-bg.jpg) center top no-repeat;
	@include bgimg;
}

.masthead-text {
	margin-top: 8.5em;
	color: $mainColor3;
	height: 300px;
}

.masthead-text p {
	font-size: 16px;
	text-shadow: none;
}

.masthead-actions .btn-primary,
.btn-secondary {
	@include signupButton;
}
.btn-secondary {
	background-color: transparent;
	border: 2px solid $mainColor2;
	color: $mainColor2;
}

.btn-secondary:hover {
	background-color: $mainColor2;
	border: 2px solid $mainColor2;
	color: #FFFFFF;
}
.masthead-actions .btn-primary:hover {
	background-color: transparent;
	border: 2px solid $mainColor3;
	color: $mainColor3;
}
.masthead-carousel .carousel-control.left, 
.masthead-carousel .carousel-control.right {
	background-color: $mainColor1;
}

/*Masthead /Slide 1 - Sign Up Form*/

h3.text-center {
	text-transform: uppercase;
	color: $mainColor3;
}
p.text-center {
	font-size: 14px;
	color: $mainColor3;
}
.form-control,
.well {
	color: $darkGray;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid $mainColor2;
	border-radius: 0;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 0 5px rgba(244, 138, 31, 0.8);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(244, 138, 31, 0.8);
}

/*About Section*/
/* ----------------------------------------------- */

.content-title span { 
	border-bottom: 1px solid $mainColor1;
}

.features {
	padding-top: 1.5em;
	font-size: 3em;
	@include mainFont;
}

.pocketfeature {
	width: 70%;
	margin-bottom: 2.2em;
}
.mini-feature {
	text-align: center;
}
.mini-feature-title {
	text-transform: uppercase;
	color: $mainColor3;
	font-size: 19px;
	font-weight: 700;
	@include mainFont
}
.mini-feature-text p {
	font-size: 15px;
	padding: 1.15em;
}
.feature-description {
	font-size: 2em;
	color: $mainColor1;
}
.col-sm-6 p {
	font-size: 15px;
}
.text-primary {
	color: $mainColor1;
}
.smallbtn {
	border: 1px solid $mainColor1;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0;
	font-size: 20px;
}
.smallbtn:hover {
	background-color: $mainColor1;
	color: #FFFFFF;
}

/*Team members Section*/
/* ----------------------------------------------- */
.team-member {
	font-size: 18px;
	@include mainFont
}
.team-member-title {
	color: $mainColor1;
	font-size: 16px;
}