/* Setting Color Palette*/
/* Font*/
/* Setting Background Image*/
/* BoxShadow Prefix*/
/* Sign Up Button*/
/* BODY*/
/* ----------------------------------------------- */
/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
  width: 90%;
  padding-top: 17px; }

.navbar {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.navbar-inverse {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #8CC640;
  text-shadow: none; }

.account-wrapper {
  padding-top: 80px; }

/* Account SignUp*/
/* ----------------------------------------------- */
#account-signup {
  background: url(../img/photos/pianoteacher.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#account-login {
  background: url(../img/photos/working.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#reset-password {
  background: url(../img/photos/personaltrainer.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#social-login {
  background: url(../img/photos/makeup-artist.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.account-or-social {
  color: #444444; }

.account-body {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #CCCCCC; }

.account-body h3 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

#account-login .account-body h5 {
  color: #F48A1F; }

#reset-password .account-body {
  top: 13em; }

#reset-password .account-body h2 {
  color: #FFFFFF; }

#reset-password .form-group a {
  color: #1B2846;
  font-size: 14px; }

.account-body h5 {
  color: #1B2846; }

#account-login .account-footer p {
  color: #1B2846; }

#account-login .account-footer p a {
  color: #8CC640; }

.account-footer p {
  color: #FFFFFF;
  font-size: 16px; }

.account-footer p a {
  color: #F48A1F;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px; }

.btn-primary,
.btn-secondary {
  padding: 0.6em 2em;
  font-size: 20px;
  line-height: 1.5;
  background-color: #8CC640;
  border: 1px solid #8CC640;
  text-shadow: none;
  box-shadow: none; }

.btn-secondary,
.btn-primary {
  background-color: #8CC640;
  border: 1px solid #FFFFFF;
  color: #FFFFFF; }

.btn-secondary:hover,
.btn-primary:hover {
  background-color: #F48A1F;
  border: 1px solid #FFFFFF; }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(140, 198, 64, 0.8);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(140, 255, 64, 0.8); }

.checkbox-inline input[type=submit]:focus,
.form-group button[type=submit]:focus {
  outline: none; }

.checkbox-inline {
  color: #1B2846; }

.checkbox-inline a {
  color: #1B2846; }

.checkbox-inline a:hover {
  color: #8CC640; }

#back-to-top {
  background-color: rgba(140, 198, 64, 0.6); }

#back-to-top:hover {
  background-color: #8CC640; }

.pull-left small {
  color: #FFFFFF;
  font-size: 13px; }

.pull-right small a {
  color: #8CC640;
  font-size: 13px; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle.is-open {
  background-color: #8CC640; }

@media (max-width: 480px) {
  .navbar-header a {
    width: 250px; }

  #logo {
    width: 50%;
    padding-top: 20px; }

  .account-body h3 {
    font-size: 20px; }

  .account-footer p,
  .account-footer p a {
    font-size: 12px;
    text-align: left;
    width: 300px; }

  .checkbox-inline a {
    font-size: 12px; }

  .btn-primary,
  .btn-secondary {
    padding: 0.3em 2em; }

  #account-login .account-footer p {
    color: #CCCCCC; } }

/*# sourceMappingURL=custom.css.map */
