/* Setting Color Palette*/
/* Font*/
/* Setting Background Image*/
/* BoxShadow Prefix*/
/* Sign Up Button*/
/* BODY*/
/* ----------------------------------------------- */
a {
  color: #8CC640; }

/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
  width: 90%;
  padding-top: 17px; }

.navbar {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.navbar-inverse {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #8CC640;
  text-shadow: none; }

.account-wrapper {
  padding-top: 80px; }

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #567b25; }

/*.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #8CC640;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #8CC640;
}*/
/* Account SignUp*/
/* ----------------------------------------------- */
#account-signup {
  background: url(../img/photos/pianoteacher.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#account-login {
  background: url(../img/photos/working.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#reset-password {
  background: url(../img/photos/personaltrainer.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

#social-login {
  background: url(../img/photos/makeup-artist.jpg) center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.account-or-social {
  color: #444444; }

.account-body {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #CCCCCC; }

.account-body h3 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

#account-login .account-body h5 {
  color: #F48A1F; }

#reset-password .account-body {
  top: 13em; }

#reset-password .account-body h2 {
  color: #FFFFFF; }

#reset-password .form-group a {
  color: #1B2846;
  font-size: 14px; }

.account-body h5 {
  color: #1B2846; }

#account-login .account-footer p {
  color: #1B2846; }

#account-login .account-footer p a {
  color: #8CC640; }

.account-footer p {
  color: #FFFFFF;
  font-size: 16px; }

.account-footer p a {
  color: #F48A1F;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px; }

.btn-primary,
.btn-secondary {
  padding: 0.6em 2em;
  font-size: 20px;
  line-height: 1.5;
  background-color: #8CC640;
  border: 1px solid #8CC640;
  text-shadow: none;
  box-shadow: none; }

.btn-secondary,
.btn-primary {
  background-color: #8CC640;
  border: 1px solid #FFFFFF;
  color: #FFFFFF; }

.btn-secondary:hover,
.btn-primary:hover {
  background-color: #F48A1F;
  border: 1px solid #FFFFFF; }

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(140, 198, 64, 0.8);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(140, 198, 64, 0.8); }

.checkbox-inline input[type=submit]:focus,
.form-group button[type=submit]:focus {
  outline: none; }

.checkbox-inline {
  color: #1B2846; }

.checkbox-inline a {
  color: #1B2846; }

.checkbox-inline a:hover {
  color: #8CC640; }

#back-to-top {
  background-color: rgba(140, 198, 64, 0.6); }

#back-to-top:hover {
  background-color: #8CC640; }

.pull-left small {
  color: #FFFFFF;
  font-size: 13px; }

.pull-right small a {
  color: #8CC640;
  font-size: 13px; }

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle.is-open {
  background-color: #8CC640; }

/* Form Validation*/
/* ----------------------------------------------- */
.mainnav {
  padding-top: 5em;
  background-color: #1B2846; }

.badge {
  background-color: #F48A1F; }

.fa-search {
  color: #8CC640; }

.noticebar-empty-title {
  color: #F48A1F; }

.btn-danger {
  background-color: #F48A1F;
  border-radius: 0;
  border-color: #F48A1F; }

.btn-danger:hover {
  background-color: #d6700a;
  border-color: #d6700a; }

.copyright {
  color: #8CC640; }

.footer {
  background-color: #1B2846; }

.mainnav-collapse input[type=text]:focus {
  background-color: #FFFFFF;
  width: 100%;
  padding: 3px 10px 3px 5px;
  margin: 0; }

.text-primary {
  color: #F48A1F; }

.error-details .input-group .form-control:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.error-details .input-group .btn-secondary {
  margin-left: 5px;
  padding: 2px 20px;
  vertical-align: middle;
  border-radius: 20px; }

.error-details .input-group .btn-secondary .fa-search {
  color: #FFFFFF; }

@media (max-width: 480px) {
  .navbar-header a {
    width: 250px; }

  #logo {
    width: 50%;
    padding-top: 20px; }

  .account-body h3 {
    font-size: 20px; }

  .account-footer p,
  .account-footer p a {
    font-size: 12px; }

  .checkbox-inline a {
    font-size: 12px; }

  .btn-primary,
  .btn-secondary {
    padding: 0.3em 2em; }

  #account-login .account-footer p {
    color: #CCCCCC; }

  #account-signup {
    background: url(../img/photos/mobile-piano.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #account-login {
    background: url(../img/photos/mobile-working.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #reset-password {
    background: url(../img/photos/mobile-trainer.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #social-login {
    background: url(../img/photos/makeup-mobile.jpg) center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

  #reset-password .account-body {
    top: 7em; }

  .dropdown-menu > li > a {
    color: #CCCCCC; } }

/*# sourceMappingURL=custom.css.map */
